body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #232819;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/city-park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 250px 0;
}

header h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 2.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 2;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  padding: 15px 23px;
  color: #0b0a05;
  display: inline-block;
  margin-top: 30px;
  border-radius: 2px;
}

.grid {
  display: grid;
  grid-gap: 30px;
}

.grid-2c {
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.grid-3c-footer {
  grid-template-columns: 2fr 3fr 3fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.img-responsive {
  max-width: 100%;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 600;
  font-size: 40px;
  color: #1f2413d2;
  margin-top: 13px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  opacity: 0.8;
}

footer {
  color: #d4dbc9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/bordalo-tile.jpg);
  background-position: cover;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  color: #d4dbc9;
  opacity: 0.8;
}

footer p {
  opacity: 0.8;
  font-weight: 300;
}

@media (max-width: 1100px) {
  header h1 {
    font-size: 55px;
  }
}

@media (max-width: 900px) {
  header {
    padding: 150px 0;
  }

  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 22px;
  }

  header h3 {
    font-size: 17px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  section {
    padding: 50px;
  }
}

@media (max-width: 560px) {
  header h1 {
    font-size: 30px;
    line-height: 1.5;
    padding: 20px 0;
  }
}
